# Project dependencies for EBeam Dashboard
# Last updated: 2025-12-10
# Matplot lib requires the use of Python version 3.11
matplotlib
numpy
pytest
picosdk==1.0
pymodbus==3.7.3
pyserial==3.5
scipy==1.14.1
tkdial==0.0.7
pandas==2.1.3
